body {
    background-color: brown
};

.col-6 offset-3 {
    margin: 2px;
    width: 50px;
}

.jumbotron-fluid {
    background-color: dodgerblue;
}

 /* .card-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;  
     background-color: seagreen
 } */

#studentName {
    width: 250px;
  margin-left: 35px;
  display: block;
  text-align: center;
}

